.search form {
    width: 40%;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-right: 5%;
}

.search form input {
    width: 20vw;
    border: 0;
    border-radius: .6em;
}

.search form img {
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.result {
    position: relative;
    display: flex;
    cursor: pointer;
    background: #ffffff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    margin: auto;
    margin-top: 8px;
    padding: 4px;
    z-index: 11;
}

.result.selected img, .result.selected h3 {
    opacity: .4;
}

.result h3 {
    margin: 0;
}

.result img {
    height: 40px;
}