div.slick-list {
    margin-bottom: 3%;
}

.carousel-holder h2 {
    font-size: 20px;
    text-align: left;
}

.ingredientButton {
    background-color: #ffffff;
}

.ingredientButton:focus {
    outline: none;
}

.ingredientButton.selected {
    opacity: .4;
}