.toggleheader {
    height: 56px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cocoa {
    background-color: #a68477;
}

.magenta {
    background-color: #ff595e;
}

.mint {
    background-color: #b8fab6;
}

.content {    
    overflow: hidden;
    transition: .5s;
}
.contract {
    flex: 0 10 0px;
}

.expand {
    flex: 10 0 0px;
}

.content.ideas.contract {
    padding: 0;
    flex: 0 0 auto;
}

