.toggleheader {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.toggleheader h2 {
    flex-grow: 10;
    text-align: left;
}

.cocoa {
    background-color: #a68477;
    font-size: 50%;
}

.magenta {
    background-color: #ff595e;
}

.mint {
    background-color: #b8fab6;
}

.content {    
    overflow: hidden;
    transition: .5s;
}
.contract {
    flex: 0 10 0px;
}

.expand {
    flex: 10 0 0px;
}

.content.ideas.contract {
    padding: 0;
    flex: 0 0 auto;
}

