.App {
  text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




@media only screen and (max-width: 500px) {
  .App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

